.topProjects {
    max-height: 50vh;
  }
  .mainProjectHeader {
    background-color: rgb(160, 232, 175);
    padding: 1rem 1rem;
    border-radius: 1rem;
  }
  
  .mainProjectHeader,
  .projectInfo {
    display: flex;
    justify-content: space-between;
  }
  .projectInfo {
    line-height: 1.5rem;
    padding: 15px 0;
  }
  .projectTitle {
    font-family: var(--text-content);
    font-size: 1.7rem;
    padding-top: 10px;
  }
  small {
    font-size: 15px;
  }
  .projectDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
  }
  p {
    margin: 5px;
  }
  .projectDescription p {
    font-family: var(--text-content);
    padding: 0 5px;
  }
  .portfolioImg {
    max-width: 350px;
    border-radius: 1rem;
  }
  .faLaptop {
    padding-left: 1rem;
  }
  a {
    padding-left: 1rem;
    color: rgb(20,27,65);
  }