.bodyContainer {
  /* background-color: rgb(220, 240, 247); */
  margin-left: 30vw;
  max-width: 63vw;
  min-height: 90vh;
  margin-top: 7vh;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 110px 120px 1fr 1.1fr 0.9fr;
  gap: 3em 2em;
  grid-auto-flow: row;
  grid-template-areas:
    'about about about about about'
    'gitInfo gitInfo twitterInfo twitterInfo shareArea'
    'gitInfo gitInfo twitterInfo twitterInfo shareArea'
    'topProjects topProjects topProjects topProjects shareArea'
    'topProjects topProjects topProjects topProjects shareArea';
}
.about {
  grid-area: about;
}
.gitInfo {
  grid-area: gitInfo;
}
.twitterInfo {
  grid-area: twitterInfo;
}
.shareArea {
  grid-area: shareArea;
}
.topProjects {
  grid-area: topProjects;
}
