.aboutMe {
    /* font-family: var(--text-content); */
    font-weight: 500;
    background-color: rgb(160, 232, 175);
    text-align: center;
    line-height: 1.3rem;
    /* color: var(--dark-green); */
    border-radius: 1rem;
  }

.content {
  padding: 1rem;
}

.content p{
  font-weight: lighter;
  font-size: 1.4rem;
  line-height: 1.8rem;
}