.container {
    padding-top: 2rem;
    min-height: 350px;
    /* background-color: beige; */
}
.container2 {
    display: flex;
    flex-direction: column;
}
.calendar{
    background-color: rgb(20, 27, 65);
    width: 120px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    border-radius: 1rem;
}